body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  margin-top: 30px;
  text-align: left;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
}

.record-section {
  margin-top: 20px;
}

.record-section {
  margin-top: 30px;
  text-align: center;
}

.mic-button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  font-size: 35px;
  cursor: pointer;
  background-color: #e5e7eb;
  color: #111827;
  transition: 0.3s ease;
}

.mic-button.active {
  background-color: #2563eb;
  color: white;
}

.mic-button:hover {
  transform: scale(1.05);
}

.mic-text {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
}